.socials {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
  a {
    svg {
      width: 24px;
      height: 24px;
      fill: $black;
    }
    &:hover svg {
      fill: $orange;
    }
  }
  > * {
    margin: .25rem;
  }
}
