// Colors
$black: #232323;
$black-light: #393939;
$orange: #FE7F17;
$teal: #5FFFD9;
$sand: #CCC5B9;
$sand-dark: #A59E94;
$orange-red: #EB5E28;

// Screen sizes
$Desktops: 1199px;
$Tablets: 899px;
$Phones: 599px;

// Other
$grayscale-contrast-filter: grayscale(100%) contrast(130%);
