// Colors
// $black: #08090A;
$black: #232323;
$orange: #FE7F17;
$teal: #5FFFD9;
$sand: #CCC5B9;

// Screen sizes
$Desktops: 1200;
$Tablets: 799;
$Phones: 499;

// Other
$grayscale-contrast-filter: grayscale(100%) contrast(130%);
