.stack-list {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}

.stack-list-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  .stack-list-category-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
