body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  color: $black;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline-color: $orange;
}

h1 {
  font-size: 40px;
}

p {
  line-height: 24px;
  font-size: 18px;
  color: $black-light;
}

a {
  color: $orange;
  &:hover {
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 4em;
  min-height: calc(100vh - 350px);
}

.section {
  margin-top: 100px;
}

.section-colored-background {
  background-color: $sand-light;
}

.btn {
  display: inline-block;
  background-color: $orange;
  padding: 8px 16px;
  margin: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.text-box {
  max-width: 500px;
}

.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}

@media only screen and (max-width: $Phones) {
  .container {
    padding: 2em 1.5em;
  }
}
