body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  color: $black;
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline-color: $orange;
}

h1 {
  font-size: 40px;
}

p {
  line-height: 22px;
  color: $black-light;
}

a {
  color: $orange;
  &:hover {
    
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 4em;
  min-height: calc(100vh - 350px);
}


@media only screen and (max-width: $Phones) {
  .container {
    padding: 2em 1.5em;
  }
}
